* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: calc(360px * 3 + 48px);
  margin: 0 auto;
}
.gallery-item {
}

.gallery-link {
}

.gallery-image {
  width: 360px;
  height: 200px;
  display: block;
}
